@import "./material-design.css";

.title-league{
    margin: 0;
    position: static;
}

.title-league h2{
    color: azure;
    font-family: 'Merienda One', cursive;
    text-align: center;
    margin-top: 32px;
    margin-right: 16px;
}

.hide-on-large-only a{
    margin-top: 32px;
    margin-right: 16px;
    margin-left: 16px;
    border-radius: 10px;
}

.card{
    margin-top: 16px;
    border-radius: 20px;
    padding: 8px;
}

.match-item{
    padding: 14px;
    border-radius: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: darkred;
}

.match-item .match-team{
    color: #2c3e50;
}

.match-item .score-team{
    color: #16a085;
}

.img-team img{
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    display: block;
    width: 100%;
}

.img-team-fav img{
    margin-right: auto;
    margin-left: auto;
    padding: 16px;
    display: block;
    width: 50%;
    height: 50%;
}

.item-detail {
    padding-left: 32px;
}

.item-detail h6{
    padding: 14px;
}

.btn-delete{
    margin: auto;
    display: block;
}